{% extends "layout.html" %}
{% block headerlinks %}
<div class='headerlinks'>
  <a href='/about'>about us</a>
  <a href='/schedule'>schedule</a>
  <a class='active' href='/materials'>materials</a>
  <script language="javascript">
    <!--
    var part1 = "coreteam";
    var part2 = "nushackers.org";
    var part3 = "contact us";
    document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '?subject=hackerschool">');
    document.write(part3 + '</a>');
  // -->
  </script>
</div>
{% endblock %}
{% block content %}
<section class='centered'>
  <h2>Materials</h2>
  <div class='material'>
    <h3>Introduction to HTML5/CSS3, 2013</h3>
    <p>This workshop is a <i>basic</i> introduction to HTML and CSS. Participants learnt:</p>
    <ul>
      <li>Basic HTML</li>
      <li>Basic CSS</li>
      <li>Putting it all together in a (beautiful!) personal web page</li>
      <li>Twitter's Bootstrap CSS framework</li>
      <li>Some HTML5 elements</li>
    </ul></p> 

    <h3>Software Used</h3>
    <p>Participants are required to download and use the following pieces of software:</p>
    <ul>
      <li><a href='https://www.google.com/intl/en/chrome/browser/'>Google Chrome</a></li>
      <li><a href='http://www.sublimetext.com/2'>Sublime Text 2</a></li>
    </ul>

    <h3>Video</h3>
    <p>Part 1</p>
    <p><iframe width="640" height="480" src="http://www.youtube.com/embed/vkz1-VyrqT0" frameborder="0" allowfullscreen></iframe></p>

    <p>Part 2</p>
    <p><iframe width="640" height="480" src="http://www.youtube.com/embed/51ynD6G8uck" frameborder="0" allowfullscreen></iframe></p>

    <p>Part 3</p>
    <p><iframe width="640" height="480" src="http://www.youtube.com/embed/kP1rlV6yNxA" frameborder="0" allowfullscreen></iframe></p>

    <h3>Resources</h3>
    <p>Pre-Workshop</p>
    <ul>
      <li>
        <a href='https://docs.google.com/document/d/1VzINnSc8U12m-SJHLj3sXN3DsJORUUsRg5JQipW_6Cc/edit'>
          Workshop Handout
        </a>
      </li>
      <li>
        <a href='http://www.comp.nus.edu.sg/~arora/personal.zip'>
          Personal.zip
        </a>
      </li>
    </ul>
    <p>References</p>
    <ul>
      <li>
        <a href='https://developer.mozilla.org/en-US/'>
          Mozilla Developer Network
        </a>
      </li>
      <li>
        <a href='http://twitter.github.com/bootstrap/'>
          Twitter Bootstrap
        </a>
        </li>
        <li><a href='http://0to255.com/'>0to255</a>
        </li>
    </ul>
  </div>
</section>
{% endblock %}


