{% extends "layout.html" %}
{% block content %}
<section class='centered'>
  <h2>Materials</h2>
  <div class='material'>
    <h3>Web Development First Steps with Sinatra</h3>
    <p>This workshop is a <i>basic</i> introduction to web development using Sinatra.

    <h3>Software Used</h3>
    <p>Participants are required to download and use the following pieces of software:</p>
    <ul>
      <li><a href='https://www.google.com/intl/en/chrome/browser/'>Google Chrome</a></li>
      <li><a href='http://www.sublimetext.com/2'>Sublime Text 2</a></li>
      <li>Ruby</li>
      <li>Sinatra</li>
      <li>SQLite</li>
      <li>Various other gems (included in the workshop folder below)</li>
    </ul>

    <h3>Video</h3>
    <p>Part 1</p>
    <p><iframe width="640" height="480" src="http://www.youtube.com/embed/TVEE3CVn7b0" frameborder="0" allowfullscreen></iframe></p>

    <p>Part 2</p>
    <p><iframe width="640" height="360" src="http://www.youtube.com/embed/CcMuVVLOgyE" frameborder="0" allowfullscreen></iframe></p>

    <p>Part 3</p>
    <p><iframe width="640" height="480" src="http://www.youtube.com/embed/oqHRATkEXAc" frameborder="0" allowfullscreen></iframe></p>

    <h3>Resources</h3>
    <p>Pre-Workshop</p>
    <ul>
      <li>
        <a href='https://docs.google.com/document/d/1RAs5H8m-t-X57Z_ugRI9FYIU9qx27Mb-Xb_19X5BbFQ/edit?usp=sharing'>
          Workshop Handout
        </a>
      </li>
      <li>
        <a href='https://www.dropbox.com/sh/gaxou5q34dg57ax/orIZtzlbOL'>
          Workshop folder
        </a>
      </li>
    </ul>
    <p>References</p>
    <ul>
      <li>
        <a href='http://tryruby.org'>
          Nice Interactive Ruby Introduction
        </a>
      </li>
      <li>
        <a href='http://www.ruby-lang.org/en/documentation/ruby-from-other-languages/'>
          Ruby from other languages
        </a>
      </li>
      <li>
        <a href='http://www.sinatrarb.com'>
          Sinatra’s Main Site. Contains Official Documentation and links to other sinatra related resources
        </a>
      </li>
      <li>
        <a href='http://sinatra-book.gittr.com/'>
          An in-depth look at building and deploying Sinatra applications
        </a>
      </li>
      <li>
        <a href='http://net.tutsplus.com/tutorials/databases/sql-for-beginners'>
          Nice tutorial series for getting started on MySQL
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}


