/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#logo {
  display: block;
  margin: auto;
  width: 450px;
}
body {
  color: #4f4f4f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
header {
  padding-top: 15px;
  border-bottom: solid 1px #f4f4f4;
}
header .headerlinks {
  height: 30px;
  padding-top: 5px;
  text-align: center;
}
header .headerlinks a {
  margin: 0 5px;
  padding: 6px 0;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
header .headerlinks a:hover {
  border-bottom: solid 3px;
}
section {
  padding: 15px 10px;
}
section h2 {
  padding: 5px 0;
  border-bottom: solid 1px #ccc;
}
section p {
  padding: 10px 0;
  line-height: 23px;
}
section ul,
section li {
  line-height: 23px;
  list-style: disc;
  margin-left: 12px;
}
section b {
  font-weight: bold;
}
section i {
  font-style: italic;
}
.centered {
  width: 700px;
  margin: auto;
  position: relative;
}
.banner {
  height: 230px;
  min-width: 700px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner#mainbanner {
  background-image: url(/static/img/mainbanner.jpg);
}
h2 {
  font-size: 30px;
  font-weight: 100;
}
h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}
.events .event {
  position: relative;
  height: 180px;
  border-bottom: solid 1px #eee;
}
.events .event img {
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
  padding: 20px;
}
.events .event .info {
  padding: 20px 0;
  margin: 10px 0;
  width: 500px;
}
.events .event .info .row {
  margin: 3px 0;
}
.events .event .info .row .label {
  font-weight: 600;
}
footer {
  padding: 50px 5px 10px 5px;
  font-size: 14px;
}
footer a {
  color: #4f4f4f;
}
