//reset
@import "reset.less";

#logo {
  display: block;
  margin: auto;
  width: 450px;
  img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
body {
  color: #4f4f4f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
header {
  padding-top: 15px;
  border-bottom: solid 1px #f4f4f4;
  .headerlinks {
    height: 30px;
    padding-top: 5px;
    text-align: center;
    font-size: 19px;
    a {
      margin: 0 5px;
      padding: 5px 0;
      display: inline-block;
      text-decoration: none;
      color: inherit;
      &.active {
        border-bottom: solid 3px;
        cursor: auto;
      }
      &:hover {
        border-bottom: solid 3px;
      }
    }
  }
}
section {
  padding: 15px 10px;
  h2 {
    padding: 5px 0;
    margin-bottom: 15px;
    border-bottom: solid 1px #ccc;
  }
  p {
    padding: 10px 0;
    line-height: 23px;
  }
  ul, li {
    line-height: 23px;
    list-style: disc;
    margin-left: 12px;
  }
  b {
    font-weight: bold;
  }
  i {
    font-style: italic;
  }
}
.centered {
  width: 700px;
  margin: auto;
  position: relative;
}

.banner {
  height: 230px;
  min-width: 700px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  &#mainbanner {
    background-image: url(/static/img/mainbanner.jpg);
  }
  // &#aboutbanner {
  //   background-image: url(/static/img/aboutusbanner.jpg);
  // }
  // .polaroid {
  //   position: absolute;
  //   -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  //   -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  //   box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  //   width: 220px;
  //   background-color: white;
  //   height: 230px;
  //   top: 0px;
  //   img {
  //     width: 100%;
  //   }
  //   &#one {
  //     left: 0px;
  //     -webkit-transform: rotate(-2deg);
  //     -moz-transform: rotate(-2deg);
  //     transform: rotate(-2deg);
  //   }
  //   &#two {
  //     left: 240px;
  //     -webkit-transform: rotate(2deg);
  //     -moz-transform: rotate(2deg);
  //     transform: rotate(2deg);
  //   }
  //   &#three {
  //     right: 0px;
  //     -webkit-transform: rotate(-1deg);
  //     -moz-transform: rotate(-1deg);
  //     transform: rotate(-1deg);
  //   }
  // }
}

h2 {
  font-size: 30px;
  font-weight: 100;
}
h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}
.events {
  margin-left: 0;
  ul, li {
    list-style: none;
    margin-left: 0;
  }
  .event {
    position: relative;
    min-height: 180px;
    border-bottom: solid 1px #eee;
    img {
      position: absolute;
      right: 0;
      top: 0;
      width: 140px;
      padding: 20px;
    }
    .info {
      padding: 20px 0;
      margin: 10px 0;
      width: 500px;
      .row {
        margin: 3px 0;
        .label {
          font-weight: 600;
        }
      }
    }
  }
}

footer {
  padding: 50px 5px 10px 5px;
  font-size: 14px;
  a {
    color: #4f4f4f;
  }
}