{% extends "layout.html" %}
{% block headerlinks %}
<div class='headerlinks'>
  <a class='active'>about us</a>
  <a href='/schedule'>schedule</a>
  <a href='/materials'>materials</a>
</div>
{% endblock %}
{% block content %}
<section class='centered'>
  <h2>About Us</h2>
  <p>We begin with two core premises:
    <ul>
      <li>Learning is hard</li>
      <li>Learning <b>alone</b> is <i>really</i> hard</li>
    </ul>
  </p>
  <p>
    <b>hackerschool</b> teaches basic, supplementary skills that are good to know, and not always covered in school. The goal? To make learning these skills easier by getting people past the initial hurdle through workshops and classes.
  </p>

  <h3>Our Goal</h3>
  <p>
    <a href='http://nushackers.org'>NUS Hackers</a> has conducted workshops in the past. <b>What makes this different is its scale.</b>
  </p>
  <p>
    Though we are starting small with only a few courses, we have a <b>big</b> ambition. The hope is to ultimately have a comprehensive list of workshops that <i>all students</i> can look forward to and take part in. 
  </p>

  <h3>The Team</h3>
  <p>
    We are NUS Hackers. To learn more about us, visit our site at <a href='http://nushackers.org'>http://nushackers.org</a>.
  </p>
</section>
{% endblock %}
