{% extends "layout.html" %}
{% block content %}
<section id='aboutbanner' class='banner'></section>
<section class='centered'>
  <h2>About Us</h2>
    <ul class='events'>
    {% for event in events %}
      <li class='event'>
        <div class='info'>
          <h3>{{ event.title }}</h3>
           <div class='row'>
            <span class='label'>When:</span>
            <span>{{ event.datetime }}</span>
          </div>
          <div class='row'>
            <span class='label'>Where:</span>
            <span>{{ event.location }}</span>
          </div>
          <div class='row'>
            <span class='label'>Who:</span>
            <span>{{ event.audience }}</span>
          </div>
          <div class='row'>{{ event.description }}</div>
        </div>
        </div>
        <img src='{{ event.image }}'/>
      </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}