{% extends "layout.html" %}
{% block headerlinks %}
<div class='headerlinks'>
  <a href='/about'>about us</a>
  <a href='/schedule'>schedule</a>
  <a href='/materials'>materials</a>
  <script language="javascript">
    <!--
    var part1 = "coreteam";
    var part2 = "nushackers.org";
    var part3 = "contact us";
    document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '?subject=hackerschool">');
    document.write(part3 + '</a>');
  // -->
  </script>
</div>
{% endblock %}
{% block content %}
<section id='mainbanner' class='banner'></section>
<section class='centered'>
  <h2>Upcoming Events</h2>
  
  {% if upcommingevents %}

  {% else %}
    <p> Coming next semester: <strong>UNIX</strong> & <strong>Web Development</strong> workshops</p>
  {% endif %}

  <h2>Past Events</h2>
    <ul class='events'>
    {% for event in pastevents %}
      <li class='event'>
        <div class='info'>
          <h3>{{ event.title }}</h3>
          <div class='row'>
            <span class='label'>When:</span>
            <span>{{ event.datetime }}</span>
          </div>
          <div class='row'>
            <span class='label'>Where:</span>
            <span>{{ event.location }}</span>
          </div>
          <div class='row'>
            <span class='label'>Who:</span>
            <span>{{ event.audience }}</span>
          </div>
          <div class='row'>
            <span class='label'>Fee:</span>
            <span>$5 <i>(make payment at COM1-02-15 or at our next Friday Hacks)</i></span>
          </div>
          <div class='row'>{{ event.description|safe }}</div>
        </div>
        <img src='{{ event.image }}'/>
      </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}
