<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>hackerschool by NUS Hackers</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
  <header>
    <a id='logo' href='/'>
      <img src="/static/img/hackerschoollogo.png"/>
    </a>
    {% block headerlinks %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  </section>
  <footer class='centered'>
    © <a href='http://nushackers.org'>NUSHackers</a> 2012
  </footer>
</body>
</html>
