{% extends "layout.html" %}
{% block headerlinks %}
<div class='headerlinks'>
  <a href='/about'>about us</a>
  <a href='/schedule'>schedule</a>
  <a class='active'>materials</a>
  <script language="javascript">
    <!--
    var part1 = "coreteam";
    var part2 = "nushackers.org";
    var part3 = "contact us";
    document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '?subject=hackerschool">');
    document.write(part3 + '</a>');
  // -->
  </script>
</div>
{% endblock %}
{% block content %}
<section class='centered'>
<h2>Materials</h2>
<div class='material'>
  <p>All workshop materials and links for past hackerschool workshops are posted here.</p>

    <h3><a href="/materials/expressworkshop2014">Web development with Express.js</a></h3>

    <h3><a href="/materials/gitworkshop2014">Git for beginners</a></h3>
    
    <h3><a href="/materials/jsworkshop2014">Introduction to JavaScript and Interactive Web Apps</a></h3>

    <h3><a href="/materials/html5workshop2014">Introduction to HTML5/CSS3, 2014</a></h3>
    
  </div>
</section><D-r>
{% endblock %}

