{% extends "layout.html" %}
{% block headerlinks %}
<div class='headerlinks'>
  <a href='/about'>about us</a>
  <a href='/schedule'>schedule</a>
  <a class='active'>materials</a>
  <script language="javascript">
    <!--
    var part1 = "coreteam";
    var part2 = "nushackers.org";
    var part3 = "contact us";
    document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '?subject=hackerschool">');
    document.write(part3 + '</a>');
  // -->
  </script>
</div>
{% endblock %}
{% block content %}
<section class='centered'>
  <h2>Materials</h2>
  <div class='material'>
    <h3>Introduction to HTML5/CSS3</h3>
    <p>Course Materials</p>
    <ul>
      <li>
        <a href='https://docs.google.com/document/d/1VzINnSc8U12m-SJHLj3sXN3DsJORUUsRg5JQipW_6Cc/edit'>
          workshop handout
        </a>
      </li>
      <li>
        <a href='https://dl.dropbox.com/u/24733998/personal.zip'>
          personal.zip
        </a>
      </li>
    </ul>
    <p>References</p>
    <ul>
      <li>
        <a href='https://developer.mozilla.org/en-US/'>
          mozilla developer network
        </a>
      </li>
      <li>
        <a href='http://twitter.github.com/bootstrap/'>
          twitter bootstrap
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}

