<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>hackerschool by NUS Hackers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="hackerschool by NUS Hackers" />
  <meta property="og:type" content="school" />
  <meta property="og:url" content="https://school.nushackers.org" />
  <meta property="og:image" content="https://school.nushackers.org/static/img/mainbanner.jpg" />
  <meta property="og:site_name" content="hackerschool by NUS Hackers" />

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141681743-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-141681743-3');
  </script>
</head>
<body>
  <div class='wrapper'>
    <header>
      <a id='logo' href='/'><img src="/static/img/hackerschoollogo.png"/></a>
      <div class='headerlinks'>
        {%- for info in site.data.header_pages -%}
          <a {% if page.url contains info.endpoint -%}class=active {% endif %}href="/{{ info.endpoint }}">{{- info.caption -}}</a>
        {%- endfor -%}
      </div>
    </header>
    {{ content }}
    <div class='push'></div>
  </div>
  <footer class='centered'>
    © <a href='https://nushackers.org'>NUS Hackers</a> 2014 - {{ site.time | date: '%Y' }}
  </footer>
</body>
</html>
